<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Home Page</title>
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
    <style>
      h1 {
        text-align: center;
        color: #fff;
        background-color: #000;
        padding: 1rem;
      }
      body {
        background-color: mediumseagreen;
      }
      main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85vh;
      }
    </style>
  </head>
  <body>
    <!--Header-->
    <header>
      <h1>Home Page</h1>
    </header>
    <!--Main-->
    <main>
      <h2
        style="
          font-style: italic;
          font-weight: 600;
          color: orangered;
          font-size: 3rem;
        "
      >
        Welcome!
      </h2>
    </main>
    <!--Footer-->
    <footer></footer>
  </body>
</html>