<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>User Page</title>
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
    <style>
      h1 {
        text-align: center;
        color: #fff;
        background-color: #000;
        padding: 1rem;
      }
      body {
        background-color: mediumseagreen;
      }
      main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85vh;
      }
      p {
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <!--Header-->
    <header>
      <h1>User's List</h1>
    </header>
    <!--Main-->
    <main>
      <ul>
        <li>
          <cite> name</cite>
          <p>username</p>
          <p>email</p>
          <p>age</p>
        </li>
      </ul>
    </main>
  </body>
</html>